<div class="container-fluid spacing">
  <%= render 'components/filter_buttons' %>
</div>
<div class="row">
   <%= render 'components/properties' %> 
</div>
<div class="pages">
  <%= paginate @properties %>
</div>
